.content-wrapper {
    min-height: 100%;
    background-color: #ecf0f5;
    background: url(backgrounds/photo4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 800;
  }
  
label[for='id']{
    display: none;
}

label[for='id'] + div {
    display: none;
}
